body {
  font-family: 'Poppins Regular';
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
}

.login-wrapper {
  width: 450px;
  height: 500px;
  padding: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  -webkit-box-shadow: 0px 14px 25px -7px rgba(26, 25, 26, 0.31);
  box-shadow: 0px 14px 25px -7px rgba(26, 25, 26, 0.31);
}

.login-wrapper h1 {
  font-family: 'Poppins SemiBold';
  font-size: 32px;
  margin-bottom: 32px;
  color: #20201E;
}

.login-wrapper .login-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-wrapper .login-inputs .label1 {
  width: 100%;
  font-size: 16px;
  margin: 16px 0px 6px;
  color: #20201E;
}

.login-wrapper .login-inputs #email-input,
.login-wrapper .login-inputs #password-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #20201E;
  padding: 8px 6px 4px 6px;
}

.login-wrapper .login-inputs #email-input::-webkit-input-placeholder,
.login-wrapper .login-inputs #password-input::-webkit-input-placeholder {
  font-size: 12px;
}

.login-wrapper .login-inputs #email-input:-ms-input-placeholder,
.login-wrapper .login-inputs #password-input:-ms-input-placeholder {
  font-size: 12px;
}

.login-wrapper .login-inputs #email-input::-ms-input-placeholder,
.login-wrapper .login-inputs #password-input::-ms-input-placeholder {
  font-size: 12px;
}

.login-wrapper .login-inputs #email-input::placeholder,
.login-wrapper .login-inputs #password-input::placeholder {
  font-size: 12px;
}

.login-wrapper .login-inputs #submit-input {
  margin: 32px 0px;
  background-color: #20201E;
  padding: 6px 38px;
  outline: none;
  border: 1px solid #20201E;
  border-radius: 4px;
  color: #FFF;
  font-family: 'Poppins Regular';
  -webkit-transition: 400ms ease;
  transition: 400ms ease;
}

.login-wrapper .login-inputs #submit-input:hover {
  background-color: #FFF;
  color: #20201E;
  border: 1px solid #4A4A4A;
}

.login-wrapper .side-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-wrapper .side-links .link1 {
  font-size: 14px;
  color: #4A4A4A;
}

.error {
  color: #e76767;
  font-size: 14px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */