// LOGIN Page
body{
    font-family: 'Poppins Regular';
}
// Container (Change height later)
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

// Content Wrapper{
.login-wrapper{
    width: 450px;
    height: 500px;
    padding: 36px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    -webkit-box-shadow: 0px 14px 25px -7px rgba(26,25,26,0.31);
    -moz-box-shadow: 0px 14px 25px -7px rgba(26,25,26,0.31);
    box-shadow: 0px 14px 25px -7px rgba(26,25,26,0.31);

    h1{
        font-family: 'Poppins SemiBold';
        font-size: 32px;
        margin-bottom: 32px;
        color: #20201E;
    }

    .login-inputs{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;


        .label1{
            width: 100%;
            font-size: 16px;
            margin: 16px 0px 6px;
            color: #20201E;
        }

        #email-input,
        #password-input{
            border: none;
            outline: none;
            border-bottom: 1px solid #20201E;
            padding: 8px 6px 4px 6px;

            &::placeholder{
                font-size: 12px;
            }
        }

        #submit-input{
            margin: 32px 0px;
            background-color: #20201E;
            padding: 6px 38px;
            outline: none;
            border: 1px solid #20201E;
            border-radius: 4px;
            color: #FFF;
            font-family: 'Poppins Regular';
            transition: 400ms ease;

            &:hover{
            background-color: #FFF;
            color: #20201E;
            border: 1px solid #4A4A4A;
            }
        }
    }

    .side-links{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link1{
            font-size: 14px;
            color: #4A4A4A;
        }
    }
}

.error{
    color: rgb(231, 103, 103);
    font-size: 14px;
    margin-bottom: 10px;
}