@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('poppins/Poppins-Regular.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Italic'), url('poppins/Poppins-Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light'), url('poppins/Poppins-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light Italic'), url('poppins/Poppins-LightItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('poppins/Poppins-Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium Italic'), url('poppins/Poppins-MediumItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins SemiBold'), url('poppins/Poppins-SemiBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins SemiBold Italic'), url('poppins/Poppins-SemiBoldItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('poppins/Poppins-Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold Italic'), url('poppins/Poppins-BoldItalic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold'), url('poppins/Poppins-ExtraBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Poppins ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold Italic'), url('poppins/Poppins-ExtraBoldItalic.woff') format('woff');
    }